<div style="width:20em;padding-left:10px;padding-top:10px;padding-right:10px;padding-bottom:10px;">
  <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
    <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
      <input type="hidden" name="returnUrl" value="http://bdnt.org" >
      <input type="hidden" name="processImmediate" value="1" >
      <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
      <input type="hidden" name="signatureMethod" value="HmacSHA256" >
      <input type="hidden" name="collectShippingAddress" value="0" >
      <input type="hidden" name="isDonationWidget" value="1" >
      <input type="hidden" name="amazonPaymentsAccountId" value="JCHIRVGOTJAV5J5ME81P7S2HL9CLSE5S1GUKUI" >
      <input type="hidden" name="referenceId" value="New Tech" >
      <input type="hidden" name="cobrandingStyle" value="logo" >
      <input type="hidden" name="immediateReturn" value="1" >
      <input type="hidden" name="abandonUrl" value="http://bdnt.org" >
      <input type="hidden" name="signatureVersion" value="2" >
      <input type="hidden" name="signature" value="rneZuV3eFNUsXrtdQff+rwY8SDcF2fVOdc8RviC6Cxs=" >

      <td>$&nbsp;
        <input type="text" name="amount" size="8"
               value=""></td>
      <td>&nbsp;</td>
      <td><input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/golden_small_donate_withlogo_whitebg.gif" border="0"></td>
    </form>
    </tr>
  </table>
</div>