<!-- Place this where you would like the Payment Button to appear -->
<div id="AmazonPayButton"></div>
<script type="text/javascript">
  var authRequest;
  OffAmazonPayments.Button("AmazonPayButton", "A1USPZIRFJAOD7", {
    type:  "PwA",
    color: "Gold",
    size:  "medium",
    useAmazonAddressBook: true,
    authorization: function() {
      var loginOptions = {scope: 'profile payments:widget'};
      authRequest = amazon.Login.authorize(loginOptions, "http://bdnt.org/success");
    },
    onError: function(error) {
      // Write your custom error handling
    }
  });
</script>
<style type="text/css">
#AmazonPayButton{
  width: 150px;
}
</style>