= render :partial => 'partial_templates/top_navigation'
#content-body
  %br
  %h1 NEW TECH IS A COMMUNITY OF OVER 12,000 GEEKS WHO LIVE AND WORK IN COLORADO.
  %h2 Interested in sponsoring New Tech
  %h4 Event Sponsor - $2,000 for 3 months - includes:
  %h4  1) Corporate name and description in weekly emails
  %h4  2) Sponsor highlight during announcement section
  %h4  3) Your ad rotated on the bdnt.org
  %h4  4) Your ad rotated on the www.meetup.com/bdnewtech/
  %h4  4) 1 sponsored video
  %br
  = render :partial => 'sponsor/pay_now_2000'
  %br
  %h4  Video Sponsorship - $2,500 for a 3 months - inlcudes:
  %h4  1) Same as Event sponsor plus
  %h4  2) 2 sponsored videos per month
  %br
  = render :partial => 'sponsor/pay_now_2500'
  %br
  %h4 Reminder:
  %h4 Please email your company name, 120px by 60px PNG or JPG image, and the URL for click to ads@bdnt.org. Ads will not run until payment is processed and ads approved.
