%h2.bar_title
  %span.title
    Welcome 
  %ul.social
    %li
      %a{:href => "https://plus.google.com/u/0/communities/112853241608609044498", :target => "_blank"}
        %img{:src => "assets/g.png"}
    %li
      %a{:href => "http://www.twitter.com/bdnt", :target => "_blank"}
        %img{:src => "assets/twitter.png"}
    %li
      %a{:href => "http://www.facebook.com/bdnewtech", :target => "_blank"}
        %img{:src => "assets/facebook.png"}
    %li
      %a{:href => "http://www.linkedin.com/groups/Boulder-Denver-New-Tech-BDNT-134062/about", :target => "_blank"}
        %img{:src => "assets/linkedin.png"}
    %li
      %a{:href => "#", :id => "events_switch"}
        %img{:src => "assets/close.png"}
%div.events-accordion
  %ul.event-list
    - @events.each do |event|
      %li.event-item
        %div.event-item-inner
          %a{:href => event.preview, :target => "_blank"}
            .main
              .title=event.title
              .text=event.start_at.to_time.strftime("%B %e %l.%M%p")
            .status.rsvp
