<form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post" id="amazon-form">
  <input type="hidden" name="processImmediate" value="1" >
  <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
  <input type="hidden" name="signatureMethod" value="HmacSHA256" >
  <input type="hidden" name="collectShippingAddress" value="0" >
  <input type="hidden" name="isDonationWidget" value="0" >
  <input type="hidden" name="amazonPaymentsAccountId" value="JCHIRVGOTJAV5J5ME81P7S2HL9CLSE5S1GUKUI" >
  <input type="hidden" name="referenceId" value="Freelancer" >
  <input type="hidden" name="cobrandingStyle" value="logo" >
  <input type="hidden" name="immediateReturn" value="1" >
  <input type="hidden" name="amount" value="USD 99" >
  <input type="hidden" name="description" value="Out of State Freelancer 1 year" >
  <input type="hidden" name="signatureVersion" value="2" >
  <input type="hidden" name="signature" value="OsbbFznZuIHus2RNO1k/h84nBjPSJXmIbdvbwgWZN/0=" >
  <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/beige_small_paynow_withlogo_whitebg.gif" border="0" style="display:none;width:100px;">
</form>