<div class="controls"><select class="select required chzn-done" data-validate="true" id="company_city_id" name="company[city_id]" style="display: none;"><option value=""></option>
  <option value="102">[Boulder] Boulder</option></select>

  <div id="company_city_id_chzn" class="chzn-container chzn-container-single chzn-container-active" style="width: 272px;">
    <a href="javascript:void(0)" class="chzn-single chzn-default" tabindex="-1">
      <span>Select an Option</span>
      <div><b></b></div>
    </a>
    <div class="chzn-drop" style="left: -9000px; width: 270px; top: 24px;">
      <div class="chzn-search">
        <input type="text" autocomplete="off" style="width: 235px;" tabindex="0">
      </div>
      
      <ul class="chzn-results">
        <li id="company_city_id_chzn_o_1" class="active-result" style="">[Boulder] Erie</li>
        <li id="company_city_id_chzn_o_2" class="active-result" style="">[Denver] Denver</li>
        <li id="company_city_id_chzn_o_104" class="active-result" style="">[Pitkin] Basalt</li>
        <li id="company_city_id_chzn_o_105" class="active-result" style="">[Boulder] Boulder</li>
      </ul>
    </div>
  </div>
  
</div>