.company-item{id: "company-#{index}"}
  .company-thumb
    = image_tag company.image, :height => "30px", :width => "30px"
  .company-desc
    %h4
      = truncate(company.name, length: 21)
    %h6
      = company.county_name