#updates-header
  %h3 RECENT UPDATES
- unless @recent_companies.blank?
  - @recent_companies.each_with_index do |company,index|
    = render :partial => 'company', :locals => {:company => company,:index => index+1}
  