.loader-div{style: 'display: none;'}
  %span
    %img{src: '/assets/spinner.gif'}
    
.events-list-contents#events_list.list-contents
  %ul.event-list
    - @events.each do |event|
      %li.event-item
        %div.event-item-inner
          %a{:href => event.preview || 'javascript:void(0)', :target => "_blank"}
            .main
              .title=event.title
              .text=event.start_at.to_time.strftime("%B %e %l.%M%p")