.filters

  #companies-header.companies-header.pull-right
    .companies-label
      COMPANIES
  .dropdown-menu-container.pull-right
    .btn-group.btn-category-group.pull-right
      %ul.dropdown-ul
        %li.dropdown.menu-item-container
          %a.btn.btn-categories.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
            Category
            %b.caret
          %ul.dropdown-menu#category-filter-menu{:role => "menu" }
            - @categories.each do |category|
              %li
                %a.btn-category{:href => "#", :data => { :category_id => category.id }}=category.name
    .btn-group.btn-employee-group.pull-right
      %ul.dropdown-ul
        %li.dropdown.menu-item-container
          %a.btn.btn-employees.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
            Employee
            %b.caret
          %ul.dropdown-menu#employee-filter-menu{:role => "menu" }
            - @employees_types.each do |employee|
              %li
                %a.btn-employee{:href => "#", :data => { :employee_id => employee.id }}=employee.name
    .btn-group.btn-investment-group.pull-right
      %ul.dropdown-ul
        %li.dropdown.menu-item-container
          %a.btn.btn-investments.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
            Investment
            %b.caret
          %ul.dropdown-menu#investment-filter-menu{:role => "menu" }
            - @investments_types.each do |investment|
              %li
                %a.btn-investment{:href => "#", :data => { :investment_id => investment.id }}=investment.name
    .btn-group.btn-tags-group.pull-right
      %ul.dropdown-ul.has-scroll
        %li.dropdown.menu-item-container
          %a.btn.btn-tags.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
            Tags
            %b.caret
          %ul.dropdown-menu#tags-filter-menu{:role => "menu" }
            - @tags.each do |tag|
              %li
                %a.btn-tag{:href => "#", :data => { :tag_code => tag.code }}=tag.code
    .btn-group.btn-hiring-group.pull-right
      %ul.dropdown-ul
        %li.menu-item-container
          %a.btn.btn-hiring{ :role => "button", :href => "#" } Hiring

  .slider-container
    .slider
      #years_slider
      #years_range

