.btn-toolbar.bottom_filters
  %a.btn.btn-primary.btn-hiring{ :role => "button", :href => "#" } Hiring
  .btn-group.btn-category-group
    %ul.filters
      %li.dropdown
        %a.btn.btn-primary.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
          Category
          %b.caret
        %ul.dropdown-menu#category-filter-menu{:role => "menu" }
          - @categories.each do |category|
            %li
              %a.btn-category{:href => "#", :data => { :category_id => category.id }}=category.name
  .btn-group.btn-employee-group
    %ul.filters
      %li.dropdown
        %a.btn.btn-primary.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
          Employee
          %b.caret
        %ul.dropdown-menu#employee-filter-menu{:role => "menu" }
          - @employees_types.each do |employee|
            %li
              %a.btn-employee{:href => "#", :data => { :employee_id => employee.id }}=employee.name
  .btn-group.btn-investment-group
    %ul.filters
      %li.dropdown
        %a.btn.btn-primary.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
          Investment
          %b.caret
        %ul.dropdown-menu#investment-filter-menu{:role => "menu" }
          - @employees_types.each do |investment|
            %li
              %a.btn-investment{:href => "#", :data => { :investment_id => investment.id }}=investment.name
