.loader-div{style: 'display: none;'}
  %span
    %img{src: '/assets/spinner.gif'}

.freelancers-list-contents.list-contents
  - @freelancers.each do |user|
    - next if user.discipline.nil?
    .freelancer-box
      = link_to image_tag(user.avatar.url(:thumb_large), class: 'thumb_large'), show_freelancer_users_url(user.username)
      .freelancer-discipline
        %h6= user.discipline.name.slice(0,9)