%script{:id => "gmap_info_window_tpl", :type=>"text/x-jquery-tmpl" }
  %div
    %div{:class => "gmap_info_window"}
      %h1.name
        ${name}
      %a{:href => "${homepage_url}", :target => "_blank" }
        ${homepage_url}
      %br
      %p.description ${description}
      %br
      %span.label_marked Year Founded:
      %span.value ${founded_year}
      %br
      %span.label_marked Number of employees:
      %span.value ${number_of_employees}
      %br
      %span.label_marked Tags:
      %span.value ${tags_list}
      .bottom_bar
        {{if hiring == true}}
        %a{:href => "${jobs_url}", :target => "_blank"}
          %span.hiring H
        {{/if}}
        {{if facebook != null && facebook != ""}}
        %a{:href => "https://www.facebook.com/${facebook}", :target => "_blank"}
          %span.facebook F
        {{/if}}
        {{if twitter != null && twitter != ""}}
        %a{:href => "https://twitter.com/${twitter}", :target => "_blank" }
          %span.twitter T
        {{/if}}

%script{:id => "company_tpl", :type=>"text/x-jquery-tmpl" }
  %div{:id => "company${marker_number}"}
    .company-row
      %img{:src => "${image_url}"}
      %h3 ${name}
      {{if hiring == true}}
      %a{:href => "${jobs_url}", :target => "_blank"}
        %span.hiring H
      {{/if}}

%script{:id => "total-box_tpl", :type=>"text/x-jquery-tmpl" }
  %table.table.summary-table
    %thead
      %tr
        %th ${totalCompanies}
        %th.summary-title NEW TECH COMPANIES

%script{:id => "county-box_tpl", :type=>"text/x-jquery-tmpl" }
  %table.table.summary-table
    %thead
      %tr.underlined
        %th
          ${name.toUpperCase()}
          %span.summary-small County
        %th.summary-numbers
          ${companies_numbers}
          %span.summary-small companies
    %tbody
      {{each companies_by_category}}
      %tr
        %td ${category_name}
        %td.summary-numbers ${companies_count}
      {{/each}}

%script{:id => "jobs-list-item_tpl", :type=>"text/x-jquery-tmpl" }
  %tr
    %td= link_to '${title}','${clickthrough}'
    %td
      {{if thumbnail_url}}
      %img(src='${thumbnail_url}' title='${company_name}' alt='${company_name}')
      {{else}}
      ${company_name}
      {{/if}}
    %td
      %dl
        {{if salary_comp}}<dt>Salary:</dt><dd>${formatted_salary_low} - ${formatted_salary_high}</dd>{{/if}}
        {{if equity_comp}}<dt>Equity:</dt><dd>${formatted_equity_low} - ${formatted_equity_high}</dd>{{/if}}
        {{if hourly_comp}}<dt>Hourly:</dt><dd>${formatted_hourly_low} - ${formatted_hourly_high}</dd>{{/if}}
    %td ${city_name}
    %td ${posted_date}

%script{:id => "jobs-list-empty_tpl", :type=>"text/x-jquery-tmpl" }
  %tr
    %td(colspan=5) Sorry, no matching listings found
