.new-companies-header.list-header
  %h4 New Companies
.buttons-list
  .btn1
    = link_to 'See All', '#'
  .btn2
    = link_to 'Add Company', new_company_url

.new-companies-list-contents.list-contents
  - @recent_companies.each do |company|
    .company-box
      = image_tag(company.image.url(:thumb_small), class: 'thumb_small')
      .company-category
        %h6= company.category.name