/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require chosen
 *= require_self
 *= require jquery.ui.slider
 *= require_tree .
 */

@import "bootstrap";

@import "bootstrap-responsive";

@import 'font-awesome';

/* Web Font */
@import url(http://fonts.googleapis.com/css?family=Original+Surfer);
@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);

body {
  background: #ffffff;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar {
  .navbar-inner {
    background: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 1100px;

    .pull-left {
      width: 100%;
    }

    .newtech {
      background-image: url(image_path('logo.png'));
      background-repeat: no-repeat;
      width: 195px;
      height: 25px;
      margin-top: 10px;
      margin-left: 5px;
      padding: 0px;
    }
    .brand {
    }

    ul.nav {

      li {
        border-left: 1px solid;
        border-color: #cccccc;
        min-width: 70px;
        text-align: center;
        padding-top: 5px;
      }

      #message_board {
        min-width: 130px;
      }

      #sponsors{
        width: 77px;
      }

      #blogs {
        border-right: 1px solid;
      }

      #add_you_company {
        min-width: 165px;
      }

      .active {
        background: none;
      }
      a.active {

        color: #7895A4;
      }
      a {
        color: #7895A4;
        text-shadow: 0 0 0;
      }

      a:hover {
       color: #7895A4;
        font-weight: bold;
        font-family: "helvetica";
        text-shadow: 0 0 0;
     }

     .dropdown-menu li {
      text-align: left;
     }

    }
  }
}

