/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require chosen
 *= require_self
 *= require jquery.ui.slider
 *= require_tree .
 */

@import "bootstrap";

@import "bootstrap-responsive";

@import 'font-awesome';

/* Web Font */
@import url(http://fonts.googleapis.com/css?family=Original+Surfer);
@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);

body {
  padding-top: 60px;
  background-repeat: repeat;
}



.navbar, .navbar-fixed-top {
  .navbar-inner {
    background: none;

    .newtech {
      background-image: url(image_path('logo.png'));
      background-repeat: no-repeat;
      width: 150px;
      height: 25px;

    }
    .brand {
      margin: auto;
    }

    ul.nav {
      li {
        border-right: 1px solid;
        border-color: #cccccc;
        width: 150px;
        text-align: center;
        padding-top: 5px;
      }
      .active {
        background: none;
      }
      a.active {
        color: #0a3642;
      }
      a {
        color: #9aafba;
      }

      a:hover {
       color: #0a3642;
     }
    }
   }
}
