// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#new_company {
  .new_company {
    label {
      color:#888;
    }
    label.radio {
      font-size: 11px;
    }
    input.string {
      width: 95%;
    }
    input.file {
    }
    textarea {
      width: 95%;
      height: 50px;
    }
    abbr {
      color: red;
    }
    select {
      width: 100%;
      height: 70px;
    }
  }
  .btn {
    margin-top: 10px;
    width: 300px;
    height: 50px;
    text-align: center
  }
}
