#fields{
  .controls{
    margin-left: 0px!important;
  }
  .control-group{
    height: 40px;
  }
  height: 208px;
}
#is_freelancer{
  .control-label{
    text-align: left;
    font-size: 14px;
    line-height: 4px;
  }
  .controls{
    margin-left: 120px!important;
  }
}