// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.gmap {
  height: 480px;
  width: 100%;
}

.gmap img {
    max-width: none;
}
