// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
}

.gmap {
  float: left;
  height: 640px;
  width: 100%;
}

.shadowed {
  border: 1px solid #777777;
  box-shadow: 6px 6px 3px #999;
}

.search {
  margin: 20px 10px 10px 20px;
  .slider {
    width: 600px;
    margin-right: 20px;
    float: left;
  }
  #years_range {
    text-align: center;
    font-family: 'Original Surfer', cursive;
    float: right;
  }
}

.gmap img {
    max-width: none;
}

.labels {
  color: #444444;
  background-color: #c8c626;
  opacity: 0.75;
  width: 70px;
  border: 2px solid #444444;
  white-space: nowrap;
  box-shadow: 3px 3px 1px #888888;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}

.btn-hiring {
  margin-right: -3px;
}

.hiring-true {
  background: url(image_path('hiring.png'));
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 91px;
  height: 75px;
}

.btn-category-group {
  margin-right: -7px;
  margin-left: 2px;
}

.btn-employee-group {
  margin-right: -7px;

}

.btn-investment-group {
  margin-right: 20px;
}

.filters {
  margin-left: 0;
  list-style: none;
}

.selected-tag {
  background-color: #d9d856;
  text-decoration: underline;
}

#company-list {
  float: left;
  width: 20%;
  height: 640px;
  overflow: auto;
  overflow-x: hidden;
  display: none;
}

.custom-thumbnail {
  margin-left: 35px;
}

.custom-thumbnail-li {
  width: 85%;
}

.custom-thumbnail-li-selected {
  background-color: #d9d856;
}

.company-marker {
  float: left;
  width: 28px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 20px;
}