// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main{
  // top: 30px;
}
.navbar{
  margin-bottom: 0px;
}

.gmap_wrapper {
  position: fixed;
  // top: 45px;
  left: 0px;
  width:100%;
  height:55%;
  z-index: -999;
}

.gmap {
  width:100%;
  height:100%;
  position: "absolute";
  top: 0px;
  left: 0px;
  overflow: "hidden";
}


// gmap_info_window

.gmap_info_window {
  width: 400px;
  height: 240px;
  background-color: #ffffff;
  opacity: 0.75;
  color: #0a3642;

  p.description {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  span.label_marked {
    font-weight: bold;
  }

  div.bottom_bar {
    position: absolute;
    width: 100%;
    bottom: 10px;

    span.hiring {
      float: left;
      position: relative;
      padding: 1px 4px;
      background-color: #0a3642;
      color: #ffffff;
    }
    span.facebook, span.twitter {
      float: right;
      position: relative;
      padding: 2px 5px 2px 5px;
      margin-right: 4px;
      background-color: #0a3642;
      color: #ffffff;
    }
  }
}

#events_bar {
  padding: 5px 0;
  color: #2E474E;
  border-top: 4px solid #0F373F;
  border-bottom: 4px solid #0F373F;

  background-image: linear-gradient(bottom, rgb(255,255,255) 1%, rgb(208,216,222) 100%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 1%, rgb(208,216,222) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 1%, rgb(208,216,222) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 1%, rgb(208,216,222) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 1%, rgb(208,216,222) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.01, rgb(255,255,255)),
    color-stop(1, rgb(208,216,222))
  );
}

#events_bar h2.bar_title {
  text-align: center;
}

#events_bar h2.bar_title span.title {
  cursor: pointer;
  cursor: hand;
}

#events_bar ul.social {
  position: absolute;
  top: .6em;
  right: 0em;
  list-style: none;
  padding: 0;
}

#events_bar ul.social li {
  list-style: none;
  margin: 0 .5em;
  padding: 0;
  float: left;
}

#events_bar .events-accordion {
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#events_bar ul.event-list {
  margin: 1em 0 .5em;
  padding: 0;
  list-style-image: none;
  min-width: 960px;
}

#events_bar li.event-item {
  list-style-image: none;
  display: inline-block;
  width: 33%;
  min-width: 310px;
  text-align: center;
}

#events_bar li.event-item .event-item-inner {
  text-align: left;
  display: inline-block;
}

#events_bar li.event-item .event-item-inner a {
    color: #063640;
    text-decoration: none;
}

#events_bar li.event-item .event-item-inner .main {
  display: inline-block;
}

#events_bar li.event-item .event-item-inner .title {
  font-size: 1.2em;
  font-weight: bold;
}

#events_bar li.event-item .event-item-inner .text {
  white-space: nowrap;
}

#events_bar li.event-item .event-item-inner .status {
  display: inline-block;
  border-radius: 5px;
  padding: 6px 10px;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: 2px;
}

#events_bar li.event-item .event-item-inner .status.rsvp {
  background-color: #0A3545;
  color: white;
}
#events_bar li.event-item .event-item-inner .status.rsvp:before {
  content: "RSVP";
}

.navbar-search {
  margin-top: 8px;
}

.navbar-search .search-query {
  padding-left: 29px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ5JREFUeNpi+P//PwMQMANxERCfAeI/UBrEZwbJQ9WAFR0A4u1AbAnEbFB6O1ScGaawGoi3wHQiYyBYDZKHKbwHxLo4FOqC5GEKf4Ksw6EQ5IyfIDYTkPEUiNUZsAOQ+F9GRkYJEKcFiDficSOIcRjE4QTiY0C8DuRbqAJLKP8/FP9kQArHUiA+jySJjA8w4LAS5KZd0MAHhaccQIABALsMiBZy4YLtAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 12px 8px;
  background-color: #ffffff;
  border: none;
  color: #9aafba;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 97%;
}

#search_form {
  display: block;
  float: none;
  text-align: center;
  overflow: hidden;
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
  padding-left: 30px;
  background-position: 13px 9px;
}


.gmap img {
  max-width: none;
}

.labels {
  color: #444444;
  background-color: #c8c626;
  opacity: 0.75;
  width: 70px;
  border: 2px solid #444444;
  white-space: nowrap;
  box-shadow: 3px 3px 1px #888888;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}


/* FILTERS */
.filters {
  margin-top: -12px;
  height: 32px;
  border-bottom: solid 1px;
  border-color: #cccccc;
  color: #9aafba;
  min-width: 1100px;

  .slider-container {
    height: 100%;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 3px;
    margin-top: 5px;
    //float:right;
    overflow: hidden;
    display: block;
    text-align: center;
    .slider {
        width: 100%;
      .ui-slider-range {
        height: 3px;
        margin-top: 5px;
      }
    }

    #years_slider {
      border: none;
      //position: relative;
      margin-right: 20px;
      position: relative;
      top: 4px;

      a {
        width: 25px;
        height: 25px;
        color: #9aafba;
      }
    }
  }

  #years_range {
    position: relative;
    top: 4px;
    float: right;
    margin-right: 4px;
  }

  .dropdown-menu-container {
    //width: 570px;
    margin-top: -5px;
    .btn, .btn-group {
      float: left;
      border: none;
      background: none;
      color: #7895A4;
    }

    .btn-categories {
      width: 70px;
    }
    .btn-employees {
      width: 80px;
    }
    .btn-investments {
      width: 85px;
    }
    .btn-tags {
      width: 65px;
    }
    .btn-hiring {
      width: 70px;
    }
    .btn-kickstarter {
      width: 95px;
    }

    .btn-group {
      border-left: 1px solid;
      border-color: #cccccc;
    }

    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: top;
      border-top:   4px solid #9aafba;
      border-right: 4px solid transparent;
      border-left:  4px solid transparent;
      content: "";
    }

    li.menu-item-container {
      margin-top: 4px;
      margin-left: -20px;
      border-left: 1 px solid;
      height: 25px;
    }
    a {
      color: #7895A4;
      margin: 2px 2px 2px 2px;
    }
    a.btn:hover {
      font-weight: bold;
    }
    li.active a {
      color: #ffffff;
    }
    ul.dropdown-ul {
      list-style: none;
    }

    .has-scroll ul.dropdown-menu {
    	max-height: 300px;
    	overflow: auto;
    }

  }

  .companies-header {
    border-left: 1px solid #CCCCCC;
    width: 250px;
    height: 35px;
    margin-top: -5px;
    margin-left: 2px;
    display: none;
    text-align: center;
    .companies-label {
      margin-top: 8px;
    }
  }
}

.selected-tag {
  background-color: #d9d856;
  text-decoration: underline;
}

#tooltip-centerer {
  width: 614px;
  position: absolute;
  left: 0px;
}

#tooltip {
  position: absolute;
  width: 688px;
  top: 10px;
  left: 0px;
  background-color: #7895A4;
  border-color: #507282;
  opacity: 0.8;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 0 0;
  //z-index: -999;
}

#tooltip h2 {
  font-size: 2em;
  line-height: 1em;
  margin-top: 5px;
}

#tooltip hr {
  margin: 5px 0;
  border-top: 0;
}

#tooltip button.close {
  color: #ffffff;
  opacity: 0.8;
  position: absolute;
  top: 5px;
  right: 5px;
}

// STYLES FOR COMPANY LIST

#company-list {
  position: fixed;
  background-color: #ffffff;
  border-left: 1px solid #CCCCCC;
  width: 250px;
  right: 0px;
  overflow: auto;
  overflow-x: hidden;
  display: none;
  top: 45px;
  bottom: 2px;
}

.company-row {
  display: inline-block;
  margin-left: 5px;
  width: 95%;
  background-color: #ffffff;
  opacity: 0.8;
  border-bottom: 1px solid #cccccc;
  padding: 2px 2px 2px 2px;
}

.company-row img {
  height: 32px;
  width: 32px;
  float: left;
  background-color: #ffffff;
}

.company-row h3 {
  font-size: 12px;
  float: left;
  margin-left: 5px;
}

.company-row span.hiring {
  display: inline-block;
  float: right;
  margin-top: 5px;
  padding: 1px 5px;
  background-color: #0a3642;
  color: #ffffff;
}

.company-row-selected .company-row {
  background-color: #0a3642;
  color: #ffffff;
}

.company-row-selected{
  background-color: #0a3642;
  div, h4, h6{    
    color: #ffffff!important;
  }
}
// STYLES FOR SUMMARY BOXES

.shadowed {
  border: 1px solid #777777;
  box-shadow: 4px 4px 2px #999;
}

.summary-box {
  width: 200px;
  background-color: #7895A4;
  opacity: 0.8;
  padding: 10px;
  display:block;
  position: absolute;
  left: 20px;
  border-color: #507282;
}

.bottom-left-1 {
  // bottom: 10px;
  bottom: 40%;
}

.bottom-left-2 {
  bottom: 100px;
}

table.summary-table {
  color: #FFFFFF;
  margin-bottom: 0px;
  //border-collapse: separate;
  //border-spacing: 0px 10px;
}

table.summary-table th {
  padding: 8px 4px 8px 4px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

table.summary-table tr.underlined {
  border-bottom: 1px solid #FFFFFF;
}

table.summary-table td {
  border: none;
  padding: 4px;
  line-height: 12px;
}

.summary-small {
  font-size: 10px;
  display: block;
}

table.summary-table th.summary-numbers {
  width: 70px;
  border-left: 1px solid #FFFFFF;
}

table.summary-table th.summary-title {
  width: 130px;
  border-left: 1px solid #FFFFFF;
}

table.summary-table td.summary-numbers {
  width: 60px;
  padding-right: 10px;
  text-align: right;
}

// Event list styling


#box-events-list {
    width: 200px;
    height: auto;
    float: right;
    margin-right: 10px;
    // bottom: 10px;
    bottom: 40%;
    text-align: center;
    position: fixed;
    display: block;
    // vertical-align: bottom;
    right: -5px;
    //border-width: 4px;
    //border-color: maroon    ;
    //border-style: solid;
    //padding-top: 15px;
    //border-radius: 2px;
    //padding-left: 15px;
    display: none;
}
#add-your-company{
    background-color: white;
    opacity: 0.8;
    box-shadow: 4px 4px 2px #999;
    width: 95%;
    border: 2px solid #7895A4;
    margin-bottom: 10px;
    h3{
      font-size: 15px!important;
    }
}
#event-box {
    background-color: white;
    opacity: 0.8;
    box-shadow: 4px 4px 2px #999;
    width: 95%;
    height: 70%;
    border: 2px solid #7895A4;
    padding-bottom: 5px;
}
#sponsor-box {
    background-color: white;
    opacity: 0.8;
    box-shadow: 4px 4px 2px #999;
    width: 95%;
    height: 115px;
    margin-top: 5%;
    border: 2px solid #7895A4;
    margin-bottom: 10px;
}
.company-item{
    padding-left: 2px;
    padding-top: 2px;
    margin-top: 0px;
    height: 34px;
}
.company-thumb {
    width: 22%;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 10px;
}
#updates-header{
    width: 100%;
    height: 10%;
    padding-top: 5px;
    margin-bottom: 5px;
}
#updates-header h3, #sponsor-heading a, #sponsor-name a{
    font-size: 17px;
    line-height: 20px;
    font-weight: bolder;
    color: #7895A4;
    font-style: inherit;
    text-shadow: white 0.1em 0.1em 0.1em;
}
#sponsor-heading{
    padding-top: 4px;
}
.company-desc h4{
    font-size: 12px;
    text-align: left;
    font-weight: normal;
    color: black;
}
.company-desc h6{
    font-size: 11px;
    color: #507282;
    text-transform: none;
    text-align: left;
    margin-top: -3px;
    font-weight: normal;
}
.company-desc{
}
#content-body{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    h1{
       font-size: 34px;
        line-height: 36px;
        color: #7895A4;
        font-weight: normal;
    }
    h2{
        color: #7895A4;
        line-height: 50px;
        font-weight: bolder;
    }
    h4{
        font-size: 13px;
        font-weight: normal;
        color: #7895A4;
    }
}

#pay-now{width:20em;padding-left:10px;padding-top:10px;padding-right:10px;padding-bottom:10px;}

.bottom-list-boxes{width: 100%;height: 40%;background-color: #EEE;position: fixed;top: 62%;}

.freelancers-list, .events-list, .trending-news-list, .job-board-list{width: 24.5%;height: 100%;float: left;border: 1px solid white;}

.job-board-list{
  .job-list-header{float: left;background-color: green;
  }
}
.freelancers-list{
  .freelancers-list-header{float: left;background-color: gray;}
  .freelancers-list-contents{
    .freelancer-box{
      float: left;
      width: 25%;
      // border: 1px solid white;
      min-width: 65px;
      img{width: 100%;}
      .freelancer-discipline{background-color: gray;text-align: center;border-right: 1px solid white;
        h6{color: white;font-size: 11px;font-weight: normal;text-transform: none;}}
    }
  }
}
.events-list{
  overflow: scroll;
  .events-list-header{float: left;background-color: red;position: fixed;width: 24.5%;z-index: 100;}
  .events-list-contents{margin-top: 30px;}
}
.trending-news-list{
  overflow: scroll;
  .trending-news-list-header{float: left;background-color: #507282;position: fixed;width: 24.5%;z-index: 100;}
  .trending-news-lis-contents{margin-top: 25px;}
  
  li.event-item {list-style-image: none;display: inline-block;width: 98%;min-width: 200px;text-align: left;margin-top: 15px;border-bottom: 1px solid white;}
  li.event-item .event-item-inner {text-align: left;display: inline-block;}
  li.event-item .event-item-inner a {color: #063640;text-decoration: none;}
  li.event-item .event-item-inner .avtar{float: left;width: 25%;min-width: 60px;padding-top: 5px;}
  li.event-item .event-item-inner .avtar img{width: 60px;}
  li.event-item .event-item-inner .news-details{float: left;width: 70%;}
  li.event-item .event-item-inner .news-details .screen_name{color: #063640;}
  li.event-item .event-item-inner .news-details .details .publisher{float: left;width: 35%;}
  li.event-item .event-item-inner .news-details .details .votes{float: left;width: 50%;color: #063640;}
  li.event-item .event-item-inner .title {font-size: 1em;font-weight: bold;}
}

.list-header{height: 30px;width: 100%;text-align: center;
  h4{color: white;line-height: 30px;}
}

#events_list li.event-item {list-style-image: none;display: inline-block;width: 90%;min-width: 200px;text-align: left;margin-top: 15px;border-bottom: 1px solid white;}

#events_list li.event-item .event-item-inner {text-align: left;display: inline-block;}

#events_list li.event-item .event-item-inner a {color: #063640;text-decoration: none;}

#events_list li.event-item .event-item-inner .main {display: inline-block;}

#events_list li.event-item .event-item-inner .title {font-size: 1.2em;font-weight: bold;}

#events_list li.event-item .event-item-inner .text {white-space: nowrap;}

#events_list li.event-item .event-item-inner .status {display: inline-block;border-radius: 5px;padding: 6px 10px;font-weight: bold;position: relative;top: -10px;left: 2px;}

#events_list li.event-item .event-item-inner .status.rsvp {background-color: #0A3545;color: white;}

#events_list li.event-item .event-item-inner .status.rsvp:before {content: "RSVP";}

.job-board-list{overflow: scroll;
  .job-list-header{float: left;position: fixed;width: 24.5%;z-index: 100;}
  .job-list-contents{margin-top: 30px;}
}

.job-list-contents {}

.job-list-contents ul.event-list {margin: 0 0 9px 25px;padding: 0;list-style-image: none;min-width: 200px;}

.job-list-contents li.item {list-style-image: none;display: inline-block;width: 90%;min-width: 200px;text-align: left;margin-top: 15px;border-bottom: 1px solid white;}

.job-list-contents li.item .item-inner {text-align: left;display: inline-block;}

.job-list-contents li.item .item-inner a {color: #063640;text-decoration: none;}

.job-list-contents li.item .item-inner {display: inline-block;}

.job-list-contents li.item .item-inner .title {font-size: 1.2em;font-weight: bold;width: 100%;margin-bottom: 5px;float: left;}

.job-list-contents li.item .item-inner .details {width: 100%;float: left;margin-bottom: 5px;}

.job-list-contents li.item .item-inner .details .company {width: auto;margin-right: 5px;max-width: 65%;float: left;border-right: 1px solid black;padding-right: 5px;}

.job-list-contents li.item .item-inner .details .contact {float: left;width: 30%;}
