// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.gmap {
  height: 640px;
  width: 100%;
}

.gmap img {
    max-width: none;
}

.labels {
  color: #0328d3;
  background-color: #ffec00;
  opacity: 0.65;
  width: 70px;
  border: 2px solid #0328d3;
  white-space: nowrap;
  box-shadow: 3px 3px 1px #888888;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}
