// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gmap_wrapper {
  position: fixed;
  top: 138px;
  left: 0px;
  width:100%;
  bottom:0px;
  z-index: -999;
}

.gmap {
  width:100%;
  height:100%;
  position: "absolute";
  top: 0px;
  left: 0px;
  overflow: "hidden";
}


// gmap_info_window

.gmap_info_window {
  width: 400px;
  height: 240px;
  background-color: #ffffff;
  opacity: 0.75;
  color: #0a3642;

  p.description {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  span.label_marked {
    font-weight: bold;
  }

  div.bottom_bar {
    position: absolute;
    width: 100%;
    bottom: 10px;

    span.hiring {
      float: left;
      position: relative;
      padding: 1px 4px;
      background-color: #0a3642;
      color: #ffffff;
    }
    span.facebook, span.twitter {
      float: right;
      position: relative;
      padding: 2px 5px 2px 5px;
      margin-right: 4px;
      background-color: #0a3642;
      color: #ffffff;
    }
  }
}

#events_bar {
  padding: 5px 0;
  color: #000000;
  border-top: 4px solid #B0B0B0;
  border-bottom: 4px solid #B0B0B0;

  background-image: linear-gradient(bottom, rgb(255,255,255) 1%, rgb(208,216,222) 100%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 1%, rgb(208,216,222) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 1%, rgb(208,216,222) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 1%, rgb(208,216,222) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 1%, rgb(208,216,222) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.01, rgb(255,255,255)),
    color-stop(1, rgb(208,216,222))
  );
}

#events_bar h2.bar_title {
  text-align: center;
}

#events_bar h2.bar_title span.title {
  cursor: pointer;
  cursor: hand;
}

#events_bar ul.social {
  position: absolute;
  top: .6em;
  right: 0em;
  list-style: none;
  padding: 0;
}

#events_bar ul.social li {
  list-style: none;
  margin: 0 .5em;
  padding: 0;
  float: left;
}

#events_bar .events-accordion {
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#events_bar ul.event-list {
  margin: 1em 0 .5em;
  padding: 0;
  list-style-image: none;
  min-width: 960px;
}

#events_bar li.event-item {
  list-style-image: none;
  display: inline-block;
  width: 33%;
  min-width: 310px;
  text-align: center;
}

#events_bar li.event-item .event-item-inner {
  text-align: left;
  display: inline-block;
}

#events_bar li.event-item .event-item-inner a {
    color: #000000;
    text-decoration: none;
}

#events_bar li.event-item .event-item-inner .main {
  display: inline-block;
}

#events_bar li.event-item .event-item-inner .title {
  font-size: 1.2em;
  font-weight: bold;
}

#events_bar li.event-item .event-item-inner .text {
  white-space: nowrap;
}

#events_bar li.event-item .event-item-inner .status {
  display: inline-block;
  border-radius: 5px;
  padding: 6px 10px;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: 2px;
}

#events_bar li.event-item .event-item-inner .status.rsvp {
  background-color: #000000;
  color: white;
}
#events_bar li.event-item .event-item-inner .status.rsvp:before {
  content: "RSVP";
}

.navbar-search {
  margin-top: 8px;
}

.navbar-search .search-query {
  padding-left: 29px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ5JREFUeNpi+P//PwMQMANxERCfAeI/UBrEZwbJQ9WAFR0A4u1AbAnEbFB6O1ScGaawGoi3wHQiYyBYDZKHKbwHxLo4FOqC5GEKf4Ksw6EQ5IyfIDYTkPEUiNUZsAOQ+F9GRkYJEKcFiDficSOIcRjE4QTiY0C8DuRbqAJLKP8/FP9kQArHUiA+jySJjA8w4LAS5KZd0MAHhaccQIABALsMiBZy4YLtAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 12px 8px;
  background-color: #ffffff;
  border: none;
  color: #B0B0B0;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 97%;
}

#search_form {
  display: block;
  float: none;
  text-align: center;
  overflow: hidden;
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
  padding-left: 30px;
  background-position: 13px 9px;
}


.gmap img {
  max-width: none;
}

.labels {
  color: #444444;
  background-color: #c8c626;
  opacity: 0.75;
  width: 70px;
  border: 2px solid #444444;
  white-space: nowrap;
  box-shadow: 3px 3px 1px #888888;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}


/* FILTERS */
.filters {
  margin-top: -12px;
  height: 32px;
  border-bottom: solid 1px;
  border-color: #cccccc;
  color: #B0B0B0;
  min-width: 1100px;

  background: white;
  opacity: 0.9;

  .slider-container {
    height: 100%;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 3px;
    margin-top: 5px;
    //float:right;
    overflow: hidden;
    display: block;
    text-align: center;
    .slider {
        width: 100%;
      .ui-slider-range {
        height: 3px;
        margin-top: 5px;
      }
    }

    #years_slider {
      border: none;
      //position: relative;
      margin-right: 20px;
      position: relative;
      top: 4px;

      a {
        width: 25px;
        height: 25px;
        color: #B0B0B0;
      }
    }
  }

  #years_range {
    position: relative;
    top: 4px;
    float: right;
    margin-right: 4px;
  }

  .dropdown-menu-container {
    //width: 570px;
    margin-top: -5px;
    .btn, .btn-group {
      float: left;
      border: none;
      background: none;
      color: #000000;
    }

    .btn-categories {
      width: 70px;
    }
    .btn-employees {
      width: 80px;
    }
    .btn-investments {
      width: 85px;
    }
    .btn-tags {
      width: 65px;
    }
    .btn-hiring {
      width: 70px;
    }
    .btn-kickstarter {
      width: 95px;
    }

    .btn-group {
      border-left: 1px solid;
      border-color: #cccccc;
    }

    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: top;
      border-top:   4px solid #B0B0B0;
      border-right: 4px solid transparent;
      border-left:  4px solid transparent;
      content: "";
    }

    li.menu-item-container {
      margin-top: 4px;
      margin-left: -20px;
      border-left: 1 px solid;
      height: 25px;
    }
    a {
      color: #000000;
      margin: 2px 2px 2px 2px;
    }
    a.btn:hover {
      font-weight: bold;
    }
    li.active a {
      color: #ffffff;
    }
    ul.dropdown-ul {
      list-style: none;
    }

    .has-scroll ul.dropdown-menu {
      max-height: 300px;
      overflow: auto;
    }

  }

  .companies-header {
    border-left: 1px solid #CCCCCC;
    width: 250px;
    height: 35px;
    margin-top: -5px;
    margin-left: 2px;
    display: none;
    text-align: center;
    .companies-label {
      margin-top: 8px;
    }
  }
}

.selected-tag {
  background-color: #d9d856;
  text-decoration: underline;
}

#tooltip-centerer {
  width: 614px;
  position: absolute;
  left: 0px;
  z-index: -1;
}

#tooltip {
  position: absolute;
  width: 688px;
  top: 10px;
  left: 0px;
  background-color: #B0B0B0;
  border-color: #B9B9B9;
  opacity: .8;
  color: #FFFFFF;
  font-weight: normal;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 0 0;
}

#tooltip h2 {
  font-size: 2em;
  line-height: 1em;
  margin-top: 5px;
}

#tooltip hr {
  margin: 5px 0;
  border-top: 0;
}

#tooltip button.close {
  color: #ffffff;
  opacity: 0.8;
  position: absolute;
  top: 5px;
  right: 5px;
}

// STYLES FOR COMPANY LIST

#company-list {
  position: fixed;
  background-color: #ffffff;
  border-left: 1px solid #CCCCCC;
  width: 250px;
  right: 0px;
  overflow: auto;
  overflow-x: hidden;
  display: none;
  top: 138px;
  bottom: 2px;
}

.company-row {
  display: inline-block;
  margin-left: 5px;
  width: 95%;
  background-color: #ffffff;
  opacity: 0.8;
  border-bottom: 1px solid #cccccc;
  padding: 2px 2px 2px 2px;
}

.company-row img {
  height: 32px;
  width: 32px;
  float: left;
  background-color: #ffffff;
}

.company-row h3 {
  font-size: 12px;
  float: left;
  margin-left: 5px;
}

.company-row span.hiring {
  display: inline-block;
  float: right;
  margin-top: 5px;
  padding: 1px 5px;
  background-color: #0a3642;
  color: #ffffff;
}

.company-row-selected .company-row {
  background-color: #0a3642;
  color: #ffffff;
}

.company-row-selected{
  background-color: #0a3642;
  div, h4, h6{
    color: #ffffff!important;
  }
}
// STYLES FOR SUMMARY BOXES

//.shadowed {
  //border: 1px solid #777777;
  //box-shadow: 4px 4px 2px #999;
//}

.summary-box {
  width: 200px;
  background-color: #444;
  opacity: 0.8;
  padding: 10px;
  display:block;
  position: absolute;
  left: 20px;
  border-color: #B9B9B9;
}

.bottom-left-1 {
  bottom: 10px;
}

.bottom-left-2 {
  bottom: 100px;
}

table.summary-table {
  color: #FFFFFF;
  margin-bottom: 0px;
  //border-collapse: separate;
  //border-spacing: 0px 10px;
}

table.summary-table th {
  padding: 8px 4px 8px 4px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

table.summary-table tr.underlined {
  border-bottom: 1px solid #FFFFFF;
}

table.summary-table td {
  border: none;
  padding: 4px;
  line-height: 12px;
}

.summary-small {
  font-size: 10px;
  display: block;
}

table.summary-table th.summary-numbers {
  width: 70px;
  border-left: 1px solid #FFFFFF;
}

table.summary-table th.summary-title {
  width: 130px;
  border-left: 1px solid #FFFFFF;
}

table.summary-table td.summary-numbers {
  width: 60px;
  padding-right: 10px;
  text-align: right;
}

// Event list styling


#box-events-list {
    width: 200px;
    height: auto;
    float: right;
    margin-right: 10px;
    bottom: 10px;
    text-align: center;
    position: fixed;
    display: block;
    vertical-align: bottom;
    right: -5px;
    //border-width: 4px;
    //border-color: maroon    ;
    //border-style: solid;
    //padding-top: 15px;
    //border-radius: 2px;
    //padding-left: 15px;
    display: none;
}
#add-your-company{
    background-color: white;
    opacity: 0.8;
    box-shadow: 4px 4px 2px #999;
    width: 95%;
    border: 2px solid #b9B9B9;
    margin-bottom: 10px;
    h3{
      font-size: 15px!important;
    }
}
#event-box {
    background-color: white;
    opacity: 0.8;
    box-shadow: 4px 4px 2px #999;
    width: 95%;
    height: 70%;
    border: 2px solid #b9B9B9;
    padding-bottom: 5px;
}
#sponsor-box {
    background-color: white;
    opacity: 0.8;
    box-shadow: 4px 4px 2px #999;
    width: 95%;
    height: 115px;
    margin-top: 5%;
    border: 2px solid #B9B9B9;
    margin-bottom: 10px;
}
.company-item{
    padding-left: 2px;
    padding-top: 2px;
    margin-top: 0px;
    height: 34px;
}
.company-thumb {
    width: 22%;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 10px;
}
#updates-header{
    width: 100%;
    height: 10%;
    padding-top: 5px;
    margin-bottom: 5px;
}
#updates-header h3, #sponsor-heading a, #sponsor-name a{
    font-size: 17px;
    line-height: 20px;
    font-weight: bolder;
    color: #000000;
    font-style: inherit;
    text-shadow: white 0.1em 0.1em 0.1em;
}
#sponsor-heading{
    padding-top: 4px;
}
.company-desc h4{
    font-size: 12px;
    text-align: left;
    font-weight: normal;
    color: black;
}
.company-desc h6{
    font-size: 11px;
    color: #B0B0B0;
    text-transform: none;
    text-align: left;
    margin-top: -3px;
    font-weight: normal;
}
.company-desc{
}
#content-body{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    h1{
       font-size: 34px;
        line-height: 36px;
        color: #000000;
        font-weight: normal;
    }
    h2{
        color: #000000;
        line-height: 50px;
        font-weight: bolder;
    }
    h4{
        font-size: 13px;
        font-weight: normal;
        color: #000000;
    }
}
#pay-now{
    width:20em;padding-left:10px;padding-top:10px;padding-right:10px;padding-bottom:10px;
}
