// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jobs-table {
  width: 100%;
  margin: 0;
  background-color: #ffffff;

  thead {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    background-color: #ebeff2;

    th {
      height: 32px;
      cursor: pointer;
      cursor: hand;
      padding-left: 10px;
      white-space: nowrap;

      .caret {
        position: relative;
        top: 8px;
      }
    }

    th.sorting-asc {
      .caret {
        border-bottom: 4px solid #000;
        border-top: 0;
        opacity: 0.6;
      }
    }

    th.sorting-desc {
      .caret {
        opacity: 0.6;
      }
    }

    th.title {
      min-width: 220px;
      width: 23%;
    }

    th.company {
      min-width: 200px;
      width: 21%;
    }

    th.compensation {
      width: 150px;
    }

    th.location {
      width: 100px;
    }

    th.contact {
      min-width: 200px;
      width: 21%;
    }

    th.date {
      width: 90px;
    }
  }

  tr {
    padding: 2px 2px 2px 2px;
    text-align: left;
  }

  th:first-child, td:first-child {
    width: 220px;
  }

  th:last-child, td:last-child {
    text-align: right;
    padding-left: 0;
    padding-right: 10px;
  }

  td {
    padding-left: 10px;

    dl {
      margin: 0;
    }

    dd {
      margin: 0;

      span {
        font-weight: bold;
      }
    }

    a {
      color: #B0B0B0;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #cccccc;
    }

    td {
      padding: 10px;
    }
  }
}
