#fields{
  .controls{
    margin-left: 0px!important;
  }
  .control-group{
    height: 40px;
  }
  height: 250px!important;
}
#is_freelancer{
  .control-label{
    text-align: left;
    font-size: 14px;
    line-height: 4px;
  }
  .controls{
    margin-left: 120px!important;
  }
}

#basic_bio{
  a.disabled{
    width: 88%!important;
    margin-top: 5%;
  }
  form{
    padding: 0px!important;
    margin-top: 5px;
    // text-align: center;
    .controls{
      margin-left: 0px!important;
    }
    div.chzn-container{
      width: 100%!important;
      div.chzn-drop{
        width: 99%!important;
      }
    }
    div.control-group{
      margin-bottom: 0px;
    }
    input.btn{
      width: 100%!important;
    }
  }
  .github, .personal-url, .email{
    input{
      width: 70%!important;
    }
    label{
      width: 30%!important;
      text-align: left!important;
      font-weight: bold;
      font-size: 12px;
    }
    .controls{
      width: 100%!important;
      margin-left: 30px!important;
    }
  }
  #user_rate_chzn{
    width: 70%!important;
    .chzn-drop{
      width: 98%!important;
      input{
        width: 80%!important;
      }
    }
  }
  .select{
    label{
      width: 30%!important;
      text-align: left!important;
      font-weight: bold;
    }
  }
  a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  } 
  hr{
    margin: 14px 0;
    border: 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid white;
  }
}
#detail_bio{
  h1{
    font-size: 110px;
    line-height: 115px;
    font-weight: normal;
  }
  #freelancer_status_text{
    cursor: pointer;
    width: 40%;
  }
  div#endorsings{
    div.endorsement{
      // height: 120px;
      // background-color: green;
    }
  }
  div.red-label{
    h5{
      color: red;
      font-weight: normal;
      font-size: 10px;
    }
  }
  div.endorsement{
    padding-left: 10px;
    padding-top: 10px;
    padding-left: 14px!important;
    border: 2px solid gray;
    // margin-left: 0px!important;
    height: 120px;
  }
  div.recommendie-gravatar{
    width: 43%;
    height: 100%;
    float: left;
  }
  div.rec-0{
    margin-left: 0px!important;
  }
}

.edit-profile{
  .controls{
    margin-left: 0px!important;
  }
  .address{
    .span4{
      margin-left: 0px!important;
    }
    input{
      width: 100%;
    }
  }
}
