#fields{
  .controls{
    margin-left: 0px!important;
  }
  .control-group{
    height: 40px;
  }
  height: 250px!important;
}
#is_freelancer{
  .control-label{
    text-align: left;
    font-size: 14px;
    line-height: 4px;
  }
  .controls{
    margin-left: 120px!important;
  }
}

#basic_bio{
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  .icon{
    text-align: center;
    width: 20%;
    float: left;
    img{
      margin-top: -2px;
    }
  }
  .icon-e{
    line-height: 26px;
    text-align: center;
    width: 20%;
    float: left;
  }
  a.disabled{
    width: 88%!important;
    margin-top: 5%;
  }
  form{
    padding: 0px!important;
    margin-top: 5px;
    // text-align: center;
    .controls{
      margin-left: 0px!important;
    }
    div.chzn-container{
      width: 100%!important;
      div.chzn-drop{
        width: 99%!important;
      }
    }
    div.control-group{
      margin-bottom: 0px;
    }
    input.btn{
      width: 100%!important;
    }
  }
  .github, .personal-url, .email{
    input{
      width: 70%!important;
    }
    label{
      width: 30%!important;
      text-align: left!important;
      font-weight: bold;
      font-size: 12px;
    }
    .controls{
      width: 100%!important;
      margin-left: 30px!important;
    }
    .info{
      .name{
        width: 50%;
        float: left;
      }
      .delete{
        text-align: right;
      }
    }
  }
  #user_rate_chzn{
    width: 70%!important;
    .chzn-drop{
      width: 98%!important;
      input{
        width: 80%!important;
      }
    }
  }
  .select{
    label{
      width: 30%!important;
      text-align: left!important;
      font-weight: bold;
    }
  }
  a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  } 
  hr{
    margin: 14px 0;
    border: 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid white;
  }
  #add-more{
    font-weight: normal;
    font-size: 10px;
  }
  #add-more-links{
    text-align: right;
    display: none;
    #user_link{
      width: 110px;
    }
    .icon-e{
      margin-right: 10px;
      h5{
        line-height: 25px;
        font-weight: bold;
        font-size: 13px;
        color: gray;
      }
    }
  }
}
#detail_bio{
  .links a{
    color: #999!important;
    text-decoration: underline!important;
  }
  .endorse-title{
    width: 30%;
    float: left;
  }
  .endorse-people{
    width: 70%;
    float: left;
    text-align: right;
  }
  .endorse-list{
    height: 30px;
    width: 100%;
  }
  h1{
    font-size: 110px;
    line-height: 115px;
    font-weight: normal;
  }
  #freelancer_status_text{
    cursor: pointer;
    width: 40%;
  }
  div#endorsings{
    div.endorsement{
    }
    hr{
      margin: 5px 0px;
    }
    h6{
      font-size: 9px;
    }
  }
  div.red-label{
    h5{
      color: red;
      font-weight: normal;
      font-size: 10px;
    }
  }
  div.endorsement{
    padding-left: 10px;
    padding-top: 10px;
    padding-left: 14px!important;
    border: 2px solid gray;
    // margin-left: 0px!important;
    height: 120px;
  }
  div.recommendie-gravatar{
    width: 43%;
    height: 100%;
    float: left;
  }
  div.rec-0{
    margin-left: 0px!important;
  }
}

.edit-profile{
  margin-bottom: 50px;
  .controls{
    margin-left: 0px!important;
  }
  .address{
    .span4{
      margin-left: 0px!important;
    }
    input{
      width: 100%;
    }
  }
}
div.search{
  min-width: 960px;
  #details-panel{
    min-width: 700px;
    width: 75%;
    div#loading{
      opacity: 0.6;
      width: 100%;
      height: 100%;
      background-color: white;
      position: absolute;
      display: none;
      min-height: 500px;
    }
    div#endorsings{
      height: 150px;
      .span3{
        border: 2px solid #F7F9F9;
        padding-left: 15px;
        margin-left: 0px;
        padding-top: 10px;
        height: 120px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 29%;
        .small{
          width: 30px;
          height: 30px;
        }
        .recommenders{
          text-align: right;
          padding-right: 10px;
        }
      }
      hr{
        margin: 5px 0px;
        width: 93%;
      }
      h6{
        font-size: 9px;
      }
    }
    div.user-status{
      float: left;
      width: 50%;
      text-align: left;
    }
    div.more-link{
      float: left;
      text-align: right;
      width: 50%;
    }
    div.endorsement {
      padding-left: 10px;
      padding-top: 10px;
      padding-left: 14px!important;
      border: 2px solid gray;
      height: 120px;

    }
    div.recommendie-gravatar{
      width: 43%;
      height: 100%;
      float: left;
      a img{
        width: 80%;
        height: 80%;
      }
    }
    div.recommendie-details{
      padding-left: 10px;
    }
    div.rec-0{
      margin-left: 0px!important;
    }
  }
  #search-panel{
    min-width: 170px;
    width: 17%!important;
    margin-left: 30px;
    #discipline, #discipline_chzn{
      width: 171px;
      // height: 60px;
      margin-top: 15px;
      margin-bottom: 20px;
      .chzn-drop{
      }
    }
    .checkbox{
      margin-left: 0px!important;
      margin-right: 10px!important;
    }
    #platforms, #languages{
      min-height: 100px;
      height: auto;
      margin-bottom: 20px;
      hr{
        margin: 2px!important;
      }
      .heading{
        float: left;
        width: 50%;
      }
      .more-link{
        text-align: right;
      }
    }
    .item{
      float: left;
      width: 85px!important;
      label{
        font-size: 11px!important;
      }
    }
  }
}
.item{
  float: left;
  width: 120px;
  label{
    font-size: 10px;
  }
}
.thumb{
  width: 100px;
  height: 100px;
}
.icon{
  width: 25px;
  height: 25px;
}
.regular{
  width: 180px;
  height: 180px;
}
a{
  color: black;
}
#show-wrapper{
  margin-bottom: 50px;
  .row{
    margin-left: 0!important;
  }
  .section1{
    hr{
      margin: 7px 0;
      border: 0;
      border-top: 2px solid #eeeeee;
      border-bottom: 1px solid white;
    }    
    .name{
      h2{
        font-size: 20px;
        line-height: 45px;
      }
    }
    .status{
      #reelancer_status_text{
        cursor: pointer;
      }
      .span1{
        margin-left: 0!important;
      }
      .span9{
        margin-left: 0!important;
        h3{
          font-size: 20px;
          line-height: 18px;
          font-weight: 200;
          text-align: center;
        }
        .btn-large{
          width: 140px!important;
        }
        .status-btn{
          width: 130px;
          height: 37px;
          background-color: red;
          text-align: center;
          border-radius: 7px;
        }
      }
    }
    .details{
      img{
        margin-right: 5px;
      }
      .span2{
        margin-left: 0!important;
        margin-right: 25px;
        width: auto!important;
      }
      .location{
        width: auto!important;
        min-width: 105px!important;
        margin-right: 15px;
      }
      .experience{
        min-width: 100px;
        width: auto!important;
        margin-right:  15px; 
      }
    }
    .urls{
      .span1{
        width: 100px!important;
        margin-left: 0!important;

      }
    }
  }
  .section2{
    height: 100px;
    .span12{
      background-color: #F7F9F9;
      .endorse-text{
        margin-left: 0!important;
        text-align: center;
        line-height: 102px;
        font-size: 16px;
        color: #527A7A;
      }
      .recommendi-box{
        padding-top: 15px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 200px!important;
        .recommendie-details{
          padding-left: 10px;
        }
        .recommendie-gravatar{
          width: 43%;
          height: 100%;
          float: left;
          img{
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
  .remaining-endorsement{
    line-height: 44px;
    margin-left: 44px;
    img{
      margin: 10px;
    }
  }
  .section3{
    .item{
      width: 100%!important;
      .span3{
        height: 52px;
        // width: 200px;
        margin-left: 0;
        border-top: 0.1em solid #B2CCCC;
        border-right: 0.1em solid #B2CCCC;
        line-height: 52px;
        padding-left: 22px;
      }
      .like{
        text-align: right;
        margin-right: 10px; 
      }
      .like-disable{
        text-align: right;
        margin-right: 10px; 
      }
      .skill{
        width: auto;
        float: left;
      }
      .span9{
        height: 52px;
        border-top: 0.1em solid #B2CCCC;
        margin-left: 0!important;
        img{
          margin: 10px;
          margin-right: 0px;
        }
      }
      .small{
        width: 30px;
        height: 30px;
      }
      .click{
        cursor: pointer;
      }
    }
  }
}
