#fields{
  .controls{
    margin-left: 0px!important;
  }
  .control-group{
    height: 40px;
  }
  height: 250px!important;
}
#is_freelancer{
  .control-label{
    text-align: left;
    font-size: 14px;
    line-height: 4px;
  }
  .controls{
    margin-left: 120px!important;
  }
}

#basic_bio{
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  .icon{
    text-align: center;
    width: 20%;
    float: left;
    img{
      margin-top: -2px;
    }
  }
  .icon-e{
    line-height: 26px;
    text-align: center;
    width: 20%;
    float: left;
  }
  a.disabled{
    width: 88%!important;
    margin-top: 5%;
  }
  form{
    padding: 0px!important;
    margin-top: 5px;
    // text-align: center;
    .controls{
      margin-left: 0px!important;
    }
    div.chzn-container{
      width: 100%!important;
      div.chzn-drop{
        width: 99%!important;
      }
    }
    div.control-group{
      margin-bottom: 0px;
    }
    input.btn{
      width: 100%!important;
    }
  }
  .github, .personal-url, .email{
    input{
      width: 70%!important;
    }
    label{
      width: 30%!important;
      text-align: left!important;
      font-weight: bold;
      font-size: 12px;
    }
    .controls{
      width: 100%!important;
      margin-left: 30px!important;
    }
  }
  #user_rate_chzn{
    width: 70%!important;
    .chzn-drop{
      width: 98%!important;
      input{
        width: 80%!important;
      }
    }
  }
  .select{
    label{
      width: 30%!important;
      text-align: left!important;
      font-weight: bold;
    }
  }
  a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  } 
  hr{
    margin: 14px 0;
    border: 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid white;
  }
}
#detail_bio{
  .links a{
    color: #999!important;
    text-decoration: underline!important;
  }
  .endorse-title{
    width: 30%;
    float: left;
  }
  .endorse-people{
    width: 70%;
    float: left;
    text-align: right;
  }
  .endorse-list{
    height: 30px;
    width: 100%;
  }
  h1{
    font-size: 110px;
    line-height: 115px;
    font-weight: normal;
  }
  #freelancer_status_text{
    cursor: pointer;
    width: 40%;
  }
  div#endorsings{
    div.endorsement{
    }
    hr{
      margin: 5px 0px;
    }
    h6{
      font-size: 9px;
    }
  }
  div.red-label{
    h5{
      color: red;
      font-weight: normal;
      font-size: 10px;
    }
  }
  div.endorsement{
    padding-left: 10px;
    padding-top: 10px;
    padding-left: 14px!important;
    border: 2px solid gray;
    // margin-left: 0px!important;
    height: 120px;
  }
  div.recommendie-gravatar{
    width: 43%;
    height: 100%;
    float: left;
  }
  div.rec-0{
    margin-left: 0px!important;
  }
}

.edit-profile{
  .controls{
    margin-left: 0px!important;
  }
  .address{
    .span4{
      margin-left: 0px!important;
    }
    input{
      width: 100%;
    }
  }
}
#details-panel{
  div#loading{
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    display: none;
    min-height: 500px;
  }
  div#endorsings{
    height: 150px;
    hr{
      margin: 5px 0px;
    }
    h6{
      font-size: 9px;
    }
  }
  div.user-status{
    float: left;
    width: 50%;
    text-align: left;
  }
  div.more-link{
    float: left;
    text-align: right;
    width: 50%;
  }
  div.endorsement {
    padding-left: 10px;
    padding-top: 10px;
    padding-left: 14px!important;
    border: 2px solid gray;
    height: 120px;
  }
  div.recommendie-gravatar{
    width: 43%;
    height: 100%;
    float: left;
  }
  div.rec-0{
    margin-left: 0px!important;
  }
}
#search-panel{
  #developer, #developer_chzn{
    width: 171px;
    // height: 60px;
    margin-top: 15px;
    margin-bottom: 20px;
    .chzn-drop{
    }
  }
  .checkbox{
    margin-left: 0px!important;
    margin-right: 10px!important;
  }
  #platforms, #languages{
    height: 100px;
    hr{
      margin: 2px!important;
    }
    .heading{
      float: left;
      width: 50%;
    }
    .more-link{
      text-align: right;
    }
  }
  .item{
    float: left;
    width: 85px!important;
    label{
      font-size: 11px!important;
    }
  }
}
.item{
  float: left;
  width: 120px;
  label{
    font-size: 10px;
  }
}
.thumb{
  width: 100px;
  height: 100px;
}
.icon{
  width: 25px;
  height: 25px;
}
.regular{
  width: 180px;
  height: 180px;
}
a{
  color: black;
}
