<p>Hi,</p>
<br/>
<p>Our group continues to evolve and grow, 10,000 plus members across the state, so we thought it was time to create an index of all the companies and services who make up the New Tech community.</p>
<br/>
<p>Once you confirm your account, by clicking the link below, login and tell us about your company.</p>
<br/>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<br/>
<p>Best Regards,</p>
<br/>
<p>New Tech</p>