<p>Welcome, to NewTech company listings. As our group continues to evolve and grow, 9,000 plus members. We thought it was time to create an index of the companies and services who make up the New Tech community across colorado.</p>
<br/>
<br/>
<p>Once you confirm your account, by clicking the link below, login and complete the form with your company details. This is a new application for NewTech and we invite you to share any concerns, questions or feedback.</p>
<br/>
<br/>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<br/>
<br/>
<p>Best Regards,</p>
<br/>
<p>New Tech</p>