<p>Hi,</p>
<br/>
<p>Welcome to New Tech Colorado. One of the largest independent communities (12,000 members) of technologist in the state of Colorado. This site will help navigate the comapnies, jobs and freelancers who make up our community. Enjoy.</p>
<br/>
<p>Once you confirm your account, by clicking the link below, login and tell us about your company.</p>
<br/>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<br/>
<p>Best Regards,</p>
<br/>
<p>New Tech</p>
